<ActionBar class="action-bar">
    <!--
   Use the NavigationButton as a side-drawer button in Android
   because ActionItems are shown on the right side of the ActionBar
   -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="date + ' - Planning'"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <ActivityIndicator [visibility]="isBusy  ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>
        <TextView [visibility]="!hasPlannings && !isBusy ? 'visible' : 'collapsed'"
                  text="Geen planningen gevonden voor vandaag op locatie. Ga naar settings om een andere dag of locatie te kiezen."
                  editable="false" class="text-center"></TextView>
        <WeekAction #weekAction></WeekAction>
        <StackLayout [visibility]="selectedPlanning.id !== '' ? 'visible' : 'collapsed'">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="selectedPlanning"
                         (propertyCommitted)="dfPropertyCommitted($event)">
                <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" readOnly="true"
                                      name="id" index="0">
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" readOnly="true"
                                      name="groepName" index="0">
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" name="date" hidden="true" readOnly="true"
                                      displayName="Datum" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" name="activity"
                                      displayName="Activiteit" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="guideId" displayName="Gids"
                                      [valuesProvider]="guides" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="cag1Id" displayName="Gids 2"
                                      [valuesProvider]="guides" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="cag2Id" displayName="Gids 3"
                                      [valuesProvider]="guides" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" name="transport"
                                      displayName="Transport" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>
            </RadDataForm>
        </StackLayout>
        <StackLayout *ngFor="let planning of plannings">
            <Button [text]="planning.groepName" (tap)="selectPlanning(planning)" [backgroundColor]="isSelectedColor(planning)"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>