<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <GridLayout columns="10, *, *, 10" rows="auto" class="m-5">
            <Button col="1" horizontalAlignment="left" text="&#xf021;" class="fas btn btn-primary btn-active"
                    (tap)="reload()"></Button>
            <Button col="2" horizontalAlignment="right" text="&#xf013;" class="fas btn btn-grey btn-primary"
                    [nsRouterLink]="['../materials/settings']"></Button>
        </GridLayout>

        <ActivityIndicator [visibility]="isBusy  ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>
        <TextView [visibility]="material.groupTotal + 1 < 2 && !isBusy ? 'visible' : 'collapsed'"
                  text="Geen materiaal lijst gevonden voor deze dag. Kies een andere dag of gids."
                  editable="false" class="text-center"></TextView>

        <WeekAction #weekAction></WeekAction>

        <StackLayout>
            <GridLayout columns="10, *, *" rows="auto, auto, auto, auto" class="m-5">
                <Label row="0" col="1" [text]="material.date"></Label>
                <Label row="0" col="2" [text]="material.activity"></Label>
                <Label row="1" col="1" [text]="material.guide.short"></Label>
                <Label row="1" col="2" [text]="material.guide.name"></Label>
                <Label row="2" col="1" text="Groep:"></Label>
                <Label row="2" col="2" [text]="material.groupName"></Label>
                <Label row="3" col="1" text="Groeptotaal:"></Label>
                <Label row="3" col="2" [text]="material.groupTotal"></Label>
            </GridLayout>

            <Label text=" Pak Totaal" class="m-5 h3" backgroundColor="#e5e5e5"></Label>

            <GridLayout *ngFor="let total of material.sizeTotals" columns="10, *, *" rows="*" class="m-5">
                <Label row="0" col="1" [text]="total.size"></Label>
                <Label row="0" col="2" [text]="total.total"></Label>
            </GridLayout>

            <Label text=" Gordel Totaal" class="m-5 h3" backgroundColor="#e5e5e5"></Label>

            <GridLayout *ngFor="let total of material.beltTotals" columns="10, *, *" rows="*" class="m-5">
                <Label row="0" col="1" [text]="total.size"></Label>
                <Label row="0" col="2" [text]="total.total"></Label>
            </GridLayout>

            <Label text=" Helm Totaal" class="m-5 h3" backgroundColor="#e5e5e5"></Label>

            <GridLayout *ngFor="let total of material.helmetTotals" columns="10, *, *" rows="*" class="m-5">
                <Label row="0" col="1" [text]="total.size"></Label>
                <Label row="0" col="2" [text]="total.total"></Label>
            </GridLayout>

            <GridLayout columns="10, *, *, *" rows="auto" class="m-5 h3" backgroundColor="#e5e5e5">
                <Label row="0" col="1" text="Deelnemer" class="h3"></Label>
                <Label row="0" col="2" text="Maat" class="h3"></Label>
                <Label row="0" col="3" text="Maatinfo" class="h3"></Label>
            </GridLayout>

            <GridLayout *ngFor="let customer of material.userSizes" columns="10, *, *, *" rows="*" class="m-5">
                <Label row="0" col="1" [text]="customer.customer"></Label>
                <Label row="0" col="2" [text]="customer.size"></Label>
                <Label row="0" col="3" [text]="customer.sizeInfo"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>

