<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Bus Check Heen"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <ActivityIndicator [visibility]="isBusy  ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>

        <Label [text]="'Bus Heen - '+ checkinBusGo.date " class="h3 text-center"></Label>
        <GridLayout columns="*, *, *, * ,*, *" rows="auto" class="m-5 h3" backgroundColor="#e5e5e5">
            <Label [text]="'Tot ' + checkinBusGo.total" class="font-weight-bold" col="0"></Label>
            <Label text="XAD" col="1"></Label>
            <Label text="FAD" col="2"></Label>
            <Label text="JAD" col="3"></Label>
            <Label text="TEA" col="4"></Label>
            <Label text="Totaal" col="5"></Label>
        </GridLayout>
        <TextView [visibility]="isTotal(checkinBusGo.total) && !isBusy ? 'visible' : 'collapsed'"
                  text="Geen bus lijst gevonden voor deze dag. Ga naar settings om een andere dag te kiezen."
                  editable="false" class="text-center"></TextView>

        <StackLayout *ngFor="let item of checkinBusGo.places" class="m-5">
            <GridLayout columns="*, *, *, * ,*, *" rows="auto" class="m-5">
                <Label [text]="item.place" class="font-weight-bold" col="0"></Label>
                <Label [text]="item.totals.XAD ? item.totals.XAD : 0" col="1"></Label>
                <Label [text]="item.totals.FAD ? item.totals.FAD : 0" col="2"></Label>
                <Label [text]="item.totals.JAD ? item.totals.JAD : 0" col="3"></Label>
                <Label [text]="item.totals.TEA ? item.totals.TEA : 0" col="4"></Label>
                <Label [text]="item.total" class="font-weight-bold" col="5"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout *ngFor="let place of checkinBusGo.places">
            <Button [text]="place.place" (tap)="selectPlace(place)" [backgroundColor]="isSelectedColor(place)"></Button>
        </StackLayout>
        <StackLayout *ngFor="let customer of selectedPlace.customers" (click)="callNumber(customer.gsm)">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                         (propertyCommitted)="dfPropertyGoCommitted($event)">
                <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true"
                                      readOnly="true" name="id" index="0">
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" name="busCheckedIn"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" readOnly="true"
                                      name="customer" displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="2" readOnly="true"
                                      name="gsm" displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>
            </RadDataForm>
            <Button text="Call" (tap)="callNumber(customer.gsm)"></Button>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
