<ScrollView>
    <StackLayout>
        <Label class="text-center" [visibility]="!hasGroeps ? 'visible' : 'collapse'"
               text="Geen groepen gevonden, kies een andere locatie of dag."></Label>
        <ListPicker [items]="groepItems" [visibility]="hasGroeps ? 'visible' : 'collapse'"
                    [selectedIndex]="selectedGroepIndex" (selectedIndexChange)="selectedGroepIndexChanged($event)"
                    class=""></ListPicker>
        <SegmentedBar [items]="optionCategoryItems" [visibility]="hasGroeps ? 'visible' : 'collapse'"
                      (selectedIndexChange)="selectedOptionCategoryIndexChanged($event)"></SegmentedBar>

        <ActivityIndicator [visibility]="isBusy ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>

        <StackLayout [visibility]="optionCategory.name === 'raft' ? 'visible' : 'collapsed'">
            <StackLayout *ngFor="let customer of raftingCustomers">
                        <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                                     (propertyCommitted)="dfPropertyCommittedRafting($event)">
                            <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                                <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                                <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="id"
                                                  index="0">
                                </TKEntityProperty>
                                <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true"
                                                  name="customer"
                                                  displayName="Deelnemer" index="0">
                                    <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                                </TKEntityProperty>
                                <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="programType"
                                                  displayName="Program" index="0">
                                    <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                                </TKEntityProperty>
                                <TKEntityProperty tkPropertyGroupProperties columnIndex="2" name="age"
                                                  displayName="Leeftijd" index="0">
                                    <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                                </TKEntityProperty>
                                <TKEntityProperty tkDataFormProperty columnIndex="3" name="activityId"
                                                  displayName="Activiteit" [valuesProvider]="activities" index="0">
                                    <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                                </TKEntityProperty>
                            </TKPropertyGroup>
                        </RadDataForm>
            </StackLayout>
        </StackLayout>

        <StackLayout [visibility]="optionCategory.name === 'canyon' ? 'visible' : 'collapsed'">
            <StackLayout *ngFor="let customer of canyoningCustomers">
                <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                             (propertyCommitted)="dfPropertyCommittedCanyoning($event)">
                    <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true" hidden="true" name="id"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="possibleActivities"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="possibleActivitiesFull"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true"
                                          name="customer"
                                          displayName="Deelnemer" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="programType"
                                          displayName="Program" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty columnIndex="2" name="activityIds"
                                          displayName="Canyons"
                                          autoCompleteDisplayMode="token" [valuesProvider]="customer.possibleActivities"
                                          index="0">
                            <TKPropertyEditor tkEntityPropertyEditor
                                              type="AutoCompleteInline"></TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>

        <StackLayout [visibility]="optionCategory.name === 'special' ? 'visible' : 'collapsed'">
            <StackLayout *ngFor="let customer of specialCustomers">
                <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                             (propertyCommitted)="dfPropertyCommittedSpecial($event)">
                    <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="id"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="possibleActivities"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" name="possibleActivitiesFull"
                                          index="0">
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true"
                                          name="customer"
                                          displayName="Deelnemer" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="programType"
                                          displayName="Program" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty columnIndex="2" name="activityIds"
                                          displayName="Specials" autoCompleteDisplayMode="tokens"
                                          [valuesProvider]="customer.possibleActivities" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor
                                              type="AutoCompleteInline"></TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>

    </StackLayout>
</ScrollView>