<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <Label class="action-bar-title" text="Afrekening"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <ActivityIndicator [visibility]="isBusy  ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>

        <GridLayout columns="10, *, *" rows="*,*" class="m-5 h3" backgroundColor="#d5d5d5">
            <Label row="0" col="1" text="Naam:"></Label>
            <Label row="0" col="2" [text]="customerBillDetail.customer"></Label>
            <Label row="1" col="1" text="Booker:"></Label>
            <Label row="1" col="2" [text]="customerBillDetail.booker.customer"></Label>
        </GridLayout>

        <GridLayout columns="10, *, *, auto" rows="auto" class="m-5 h3" backgroundColor="#e5e5e5">
            <Label row="0" col="1" text="Type optie"></Label>
            <Label row="0" col="2" text="Optie"></Label>
            <Label row="0" col="3" text="Prijs"></Label>
        </GridLayout>

        <GridLayout *ngFor="let option of customerBillDetail.options" columns="10, *, *, auto" rows="*" class="m-5 h3">
            <Label row="0" col="1" [text]="option.type"></Label>
            <Label row="0" col="2" [text]="option.name"></Label>
            <Label row="0" col="3" [text]="'€ ' + option.price"></Label>
        </GridLayout>

        <GridLayout columns="10, *, *, auto" rows="auto" class="m-5 h3" backgroundColor="#e5e5e5">
            <Label row="0" col="1" text="Klant"></Label>
            <Label row="0" col="2" text="Totaal (€)"></Label>
            <Label row="0" col="3" text="Betaald"></Label>
        </GridLayout>

        <StackLayout *ngFor="let customer of customerBillDetail.totals">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                         (propertyCommitted)="dfPropertyPayedCommitted($event)">
                <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                    <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" readOnly="true"
                                      name="id" index="0">
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true" name="customer"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" readOnly="true" name="total"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="2" name="payed"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>
            </RadDataForm>
        </StackLayout>

        <GridLayout columns="10, *, *, auto" rows="auto" class="m-5 h3" backgroundColor="#e5e5e5">
            <Label row="0" col="1" text="Booker"></Label>
            <Label row="0" col="2" text="Totaal (€)"></Label>
            <Label row="0" col="3" text="Betaald"></Label>
        </GridLayout>

        <StackLayout>
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="customerBillDetail.booker"
                         (propertyCommitted)="dfPropertyPayedCommitted($event)">
                <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                    <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" readOnly="true"
                                      name="id" index="0">
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true" name="customer"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" readOnly="true" name="total"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="2" name="payed"
                                      displayName="" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>
            </RadDataForm>
        </StackLayout>

    </StackLayout>
</ScrollView>