<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>
<StackLayout class="page page-content" tkMainContent>
    <DatePicker #datePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                verticalAlignment="center"></DatePicker>
    <Button text="Huidige dag continu!" (tap)="setCurrentDay()" class="btn btn-primary btn-active"></Button>
    <Label class="text-center" text="Kies een locatie:"></Label>
    <LocationsAction #locationsAction></LocationsAction>

    <Button text="Save" (tap)="goBack()" class="btn btn-primary btn-active"></Button>

</StackLayout>