<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" gesturesEnabled="true">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-brand m-t-25" text="X-Adventure"></Label>
            <Label [text]="username"></Label>
            <StackLayout class="hr-light m-t-10 m-b-15"></StackLayout>
            <Label class="footnote" [text]="'App Versie: ' + appVersionNumber"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/tabs/default')" (tap)="onNavItemTap('/tabs/default')">
                    <Label col="0" text="&#xf015;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Overzicht" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/busgo')" (tap)="onNavItemTap('/busgo')">
                    <Label col="0" text="&#xf207;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Bus check heen" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/busback')" (tap)="onNavItemTap('/busback')">
                    <Label col="0" text="&#xf55e;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Bus check terug" class="p-r-10"></Label>
                </GridLayout>

                 <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/payments')" (tap)="onNavItemTap('/payments')">
                    <Label col="0" text="&#xf153;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Kosten" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <StackLayout [visibility]="checkRoles(['ROLE_KV', 'ROLE_STV', 'ROLE_CMS', 'ROLE_ADMIN']) ? 'visible' : 'collapsed'">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/lodging')" (tap)="onNavItemTap('/lodging')">
                        <Label col="0" text="&#xf594;&nbsp;&nbsp;" class="fas"></Label>
                        <Label col="1" text="Logement" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/volpension')" (tap)="onNavItemTap('/volpension')">
                        <Label col="0" text="&#xf2e7;&nbsp;&nbsp;" class="fas"></Label>
                        <Label col="1" text="Volpension" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>

                <StackLayout [visibility]="checkRoles(['ROLE_STV', 'ROLE_CMS', 'ROLE_ADMIN']) ? 'visible' : 'collapsed'">
                    <StackLayout class="hr-light"></StackLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/groep')" (tap)="onNavItemTap('/groep')">
                        <Label col="0" text="&#xf0c0;&nbsp;&nbsp;" class="fas"></Label>
                        <Label col="1" text="Groepsindeling" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/planning')" (tap)="onNavItemTap('/planning')">
                        <Label col="0" text="&#xf279;&nbsp;&nbsp;" class="fas"></Label>
                        <Label col="1" text="Planning" class="p-r-10"></Label>
                    </GridLayout>

                     <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/bill')" (tap)="onNavItemTap('/bill')">
                        <Label col="0" text="&#xf571;&nbsp;&nbsp;" class="fas"></Label>
                        <Label col="1" text="Afrekening" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>


                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="logout()">
                    <Label col="0" text="&#xf0a9;&nbsp;&nbsp;" class="fas"></Label>
                    <Label col="1" text="Logout" class="p-r-10"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
