<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <GroupsAction #groupsAction></GroupsAction>
        <ActivityIndicator [visibility]="isBusy ? 'visible' : 'collapsed'" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>
        <TextView [visibility]="customers.length < 1 && !isBusy ? 'visible' : 'collapsed'"
                  text="Geen deelnemers lijst gevonden voor deze groep. Ga naar settings om een andere dag of locatie te kiezen."
                  editable="false" class="text-center"></TextView>
        <StackLayout *ngFor="let customer of customers">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="customer"
                         (propertyCommitted)="dfPropertyCommitted($event)">
                <TKPropertyGroup tkDataFormGroups collapsible="false" name="" hidden="false">
                    <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" hidden="true" readOnly="true"
                                      name="id" index="0">
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="0" readOnly="true" name="customer"
                                      displayName="Deelnemer" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="1" name="size" displayName="Maat"
                                      [valuesProvider]="sizes" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties columnIndex="2" name="sizeInfo"
                                      displayName="Maat Info" index="0">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    </TKEntityProperty>
                </TKPropertyGroup>
            </RadDataForm>
        </StackLayout>
    </StackLayout>
</ScrollView>